html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

* {
    transition: 0.2s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 90%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#logo {
    font-size: 6rem;
    color: white;
    margin-left: -20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a {
    color: #959595;
    text-decoration: none;
    padding: 10px 25px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a:hover {
    color: #FD6F00;
    scale: 1.2;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
    z-index: 1111;
}





#home {
    position: relative;
    top: 20px;
    left: 50%;
    width: 90%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
}

.text {
    width: 70%;
}

#text1 {
    color: #707070;
    font-size: 2vw;
}

#text2 {
    color: #959595;
    font-size: 2.5vw;
    font-weight: bolder;
}

#text3 {
    background-image: linear-gradient(30deg, #b95101, #FD6F00, #CA5900);
    color: transparent;
    background-clip: text;
    font-size: 5vw;
    font-weight: bold;
}

.Image {
    display: flex;
    justify-content: flex-end;
    width: 360px;
    margin-top: -50px;
}

.Image img {
    width: 100%;
    height: fit-content;
}

#icons {
    display: flex;
    width: fit-content;
    margin-top: 40px;
}

#icons a img {
    width: 40px;
    height: fit-content;
    padding-right: 30px;
}

.text a button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #959595;
    border-radius: 10px;
    color: #959595;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
}

.text a button:hover {
    background-color: #a0a0a056;
    scale: 1.05;
}

#icons a img:hover {
    cursor: pointer;
    scale: 1.1;
}



#About_Me {
    width: 80%;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

#About_Me h2 {
    text-align: center;
    font-size: 40px;
    color: white;
}

#p1 {
    text-align: center;
    color: #707070;
    margin-top: -1.5vw;
    letter-spacing: 1px;
}

#p2 {
    text-align: justify;
    font-size: 16px;
    color: #959595;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-top: 3vw;
    text-indent: 5vw;
}



.skills {
    width: 85%;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
}

.skills h2 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color: white;
}

.main_div_skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.img2 {
    width: 40%;
    margin-top: -3vw;
    height: fit-content;
}

.skills_icons_div {
    width: 60%;
}

.designing img,
.android img,
.website img {
    padding: 0 3vw;
    width: 7.5vw;
}

.for_mobile img {
    width: 0;
    height: 0;
}




.filter-menu {
    width: 85%;
    position: relative;
    left: 48%;
    transform: translate(-50%);
    top: 30px;
}

.filter-menu h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 20px 0;
    margin-left: 20px;
    text-decoration: underline;
}

.ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.ul li {
    list-style: none;
    padding: 9px 25px;
    background-color: #ffffff0c;
    cursor: pointer;
    margin: 7px 10px;
    font-size: 16px;
    color: #959595;
    font-weight: bold;
    border-radius: 0.7vw;
}

.ul li:hover {
    background-color: #FD6F00;
    color: white;
    scale: 1.05;
}

.ul li.current {
    background-color: #FD6F00;
    color: white;
}

.items {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.items a {
    text-decoration: none;
}

.project_items {
    width: 300px;
    height: 375px;
    margin: 20px 30px;
    border: 2px solid #595858;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &:hover {
        scale: 1.03;
    }
}

.project_items img {
    width: 300px;
    height: 350px;
    border-radius: 18px;
}

.project_text {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    background-color: #595858;
    margin-top: -25px;
    position: relative;
}

.project_text font {
    color: #C6C6C6;
}

#project_items {
    text-align: center;
}

#project_items img {
    opacity: 0.7;
    width: 250px;
    border-radius: 0;
}

#project_items a button {
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: #595858;
    color: #C6C6C6;
    border-radius: 10px;
    position: relative;
    top: -230px;
    cursor: pointer;
    border: 0;
}

#project_items a button:hover {
    opacity: 0.7;
    background-color: #FD6F00;
    color: white;
    scale: 1.1;
}

.project_items img:hover {
    opacity: 0.7;
    cursor: pointer;
}





.testimonial_heading {
    text-align: center;
    font-size: 3vw;
    color: white;
    text-decoration: underline;
    position: relative;
    top: 50px;
}

.testimonial {
    width: 50%;
    height: 21vw;
    position: relative;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    background-color: #7D7D7D;
    border-radius: 4vw;
}

.review_img {
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    background-image: url("Images/Asit.jpg");
    background-size: cover;
    margin: -4vw 0 0 4vw;
}

.outer_div_review {
    display: flex;
    justify-content: space-between;
}

.outer_div_review img {
    height: 3vw;
    width: fit-content;
    margin: 2vw;
    margin-right: 5vw;
}

.review {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: -6vw;
}

.review h2 {
    font-size: 2.5vw;
    color: white;
    text-align: center;
}

.review p {
    color: #C6C6C6;
    font-size: 1.5vw;
    line-height: 2vw;
    text-align: justify;
    margin-top: -1vw;
}

.review a {
    color: white;
    font-size: 1.5vw;
    margin-top: -0.5vw;
    display: flex;
    justify-content: end;
}




footer {
    width: 100%;
    background-color: #ffffff10;
    margin-top: 110px;
    position: relative;
    bottom: -2vw;
    left: 0;
    text-align: center;
}

.footer_logo {
    text-decoration: none;
    font-size: 6rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer ul {
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-left: -2vw;
}

footer ul li a {
    text-decoration: none;
    color: #959595;
    font-size: 1.7vw;
}

footer ul li a:hover {
    color: #FD6F00;
}

.footer_icons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_icons a img {
    width: 4vw;
    padding: 0 2vw;

    &:hover {
        scale: 1.1;
    }
}

.footer_contacts {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_contacts p {
    color: #959595;
    padding: 0 5vw;
    font-size: 1.5vw;
    font-weight: bold;
}

footer hr {
    width: 50%;
    border: 1px solid #707070;
}

.copyright {
    width: 50%;
    color: #a1a1a1;
    font-size: 1.5vw;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 1vw 0;
    margin-top: 0;
}





@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: -1vw;
        right: -2vw;
        width: 100%;
        height: fit-content;
        background-color: #959595;
        padding: 2vw;
        padding-top: 19vw;
    }

    #logo {
        font-size: 3rem;
    }

    .menu a {
        display: block;
        padding: 1vw;
        text-align: center;
        color: white;
    }

    .menu a:hover {
        color: #FD6F00;
    }

    .menu-toggle {
        display: flex;
    }

    #menu-checkbox:checked~.menu {
        display: flex;
    }






    #home {
        display: list-item;
        list-style: none;
        justify-content: center;
        width: 80%;
        margin-top: -20px;
    }

    .text {
        text-align: center;
        width: 100%;
    }

    #text1 {
        color: #707070;
        font-size: 2.5vw;
    }

    #text2 {
        color: #959595;
        font-size: 3vw;
        font-weight: bolder;
    }

    #text3 {
        font-size: 7vw;
    }

    #icons {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    #icons a img {
        width: 30px;
        height: fit-content;
        padding: 0 2vw;
    }

    .text a button {
        width: fit-content;
        height: fit-content;
        font-size: 2vw;
        padding: 1vw 2vw;
        margin-top: 4vw;
    }

    .Image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .Image img {
        width: 50vw;

    }







    .skills {
        width: 100%;
    }

    .main_div_skills {
        display: list-item;
        list-style: none;
        justify-content: center;
        width: 100%;
        height: fit-content;
    }

    .img2 {
        width: 60%;
        height: fit-content;
        position: relative;
        top: -2vw;
        left: 50%;
        transform: translate(-50%);
    }

    .skills_icons_div {
        width: 0;
        height: 0;
    }

    .skills_icons_div img {
        width: 0;
    }

    .for_mobile {
        height: fit-content;
        width: 100%;
    }

    .for_mobile img {
        height: fit-content;
        width: 17vw;
        padding: 0 4vw;
    }




    .ul {
        display: block;
        position: relative;
        left: 48%;
        transform: translate(-50%);
        text-align: center;
    }

    #project_items a button {
        font-size: 14px;
        position: relative;
        top: -210px;
    }



    .footer_logo {
        font-size: 3rem;
    }
}